          </div>
          <footr>
              <div class="footer ">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <a href="#" class="logo_footer"> <img src="{{ url_for('static',filename='images/logo.png') }}" width="20%" alt="#"/></a>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                          <div class="address">
                            <h3>Equipo </h3>
                            <ul class="loca">
                              <li><a href="#"></a>Tatiana Muñoz </li>
                              <li><a href="#"></a>Kevin Rondón </li>
                              <li><a href="#"></a>Luis Torres </li>
                              <li><a href="#"></a>Fredy Sanabria</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="address">
                            <h3>Redes Sociales</h3>
                            <ul class="Menu_footer">
                              <li class="active"> <a href="#">Facebook</a> </li>
                              <li><a href="#">Instragram</a> </li>
                              <li><a href="#">Linkdin</a> </li>
                              <li><a href="#">Twitter</a> </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 ">
                          <div class="address">
                            <h3>Newsletter</h3>
                            <form class="news">
                              <input class="newslatter" placeholder="Ingrese su correo" type="text" name=" Enter your email">
                              <button class="submit">Subscribirme</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="copyright">
                  <div class="container">
                    <p>Todos los derechos reservados © 2021</p>
                  </div>
                </div>
              </div>
            </footr>
          <script src="{{ url_for('static',filename='/js/jquery.min.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/popper.min.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/jquery-3.0.0.min.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/plugin.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
          <script src="{{ url_for('static',filename='/js/custom.js') }}"></script>
          <script src"https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js></script>
    </body>
</html>
