<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<title>Mi Canasta</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{{ url_for('static',filename='/images/favicon.png') }}" type="image/gif" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='/css/responsive.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='/css/jquery.mCustomScrollbar.min.css') }}">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    </head>
	<body class="main-layout">
	    <div class="loader_bg">
		  <div class="loader"><img src="{{ url_for('static',filename='/images/loading.gif') }}" alt="#" />
		  </div>
	    </div>
		  <header>
			<div class="header-top">
			  <div class="header">
				<div class="container-fluid">
				  <div class="row">
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
					  <div class="full">
						<div class="center-desk">
						  <div class="logo">
							<a href="#"><img src="{{ url_for('static',filename='/images/logo.png') }}" alt="#" /></a>
						  </div>
						</div>
					  </div>
					</div>
					<div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">         
					  <div class="menu-area">
						<div class="limit-box">
						  <nav class="main-menu ">
							<ul class="menu-area-main">
							  <li class="active"> <a href="{{ url_for('index') }}">Inicio</a> </li>
							  <li> <a href="{{ url_for('index_category') }}">Categorias</a> </li>
							  <li> <a href="{{ url_for('index_product') }}">Productos</a> </li>
							</ul>
						  </nav>
						</div>
					  </div> 
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </header>
          <div class="<div class="container">
